<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cubita.base.auth.mydao.mapper.MyUserMapper">

    <select id="select" resultType="io.cubita.base.auth.mydao.entity.MyUser">
        SELECT a.`name`, b.name role_name from t_user a, t_role b
          WHERE a.role_id=b.id LIMIT 1
    </select>

</mapper>
